.card {
    width: 100%;
    max-width: 413px;
}

.card__image {
    height: 413px;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__title {
    margin: 0;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
}

.card__like-button:hover {
    opacity: 0.8;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.card__like-button {
    background-image: url(../images/Heart.svg);
    width: 23px;
    height: 20px;
    border: none;
    background-color: transparent;
    opacity: 40%;
}

@media screen and (max-width: 627px) {
    .card__image {
        height: 288px;
    }
}
