.card {
    width: 100%;
    max-width: 413px;
    position: relative;
}

.card__image {
    height: 413px;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.card__content {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 350px;
    margin: 0;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
}

.card__like-button:hover {
    opacity: 0.8;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.card__like-button {
    background-image: url(../images/black-heart.svg);
    width: 23px;
    height: 20px;
    border: none;
    background-color: transparent;
    opacity: 40%;
    cursor: pointer;
}

.card__like-button-active {
    background-image: url(../images/like\ active.svg);
}

.card__delete-button {
    width: 32px;
    height: 32px;
    background-image: url(../images/delete.svg);
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    right: 10px;
    top: 10px;
}

.card__delete-button:hover {
    background-image: url(../images/delete-hover.svg);
    opacity: 0.8;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 627px) {
    .card__title {
        max-width: 250px;
        font-size: 16px;
    }

    .card__image {
        height: 288px;
    }
}
