.modal {
    visibility: hidden;
    background-color: #00000080;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_is-opened {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.modal__container {
    max-width: 703px;
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    padding: 32px 50px;
    position: relative;
    box-sizing: border-box;
}

.modal__close-btn {
    position: absolute;
    top: 32px;
    right: 50px;
    width: 40px;
    height: 40px;
    max-width: 156px;
    opacity: 40%;
    background-color: transparent;
    border: none;
}

.modal__title {
    margin: 0 0 32px;
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__label {
    margin: 0 0 32px;
}

.modal__input {
    display: block;
    margin: 8px 0 0;
    width: 100%;
    box-sizing: border-box;
    padding: 16px 12px;
    border-radius: 8px;
}

.modal__input::placeholder {
    color: #2121214d;
}

.submit-btn {
    max-width: 156px;
    width: 100%;
    width: 156;
    height: 52;
    border-radius: 8px;
    padding-top: 18px;
    padding-right: 32px;
    padding-bottom: 18px;
    padding-left: 32px;
    gap: 8px;
    angle: 0 deg;
    opacity: 1;
    border: none;
    background-color: black;
    color: white;
}

.modal__submit-btn {
    max-width: 156px;
}

@media screen and (max-width: 627px) {
    .modal {
        display: flex;
    }

    .modal__close-btn {
        max-width: 0px;
    }

    .submit-btn {
        align-self: stretch;
    }
}
