.modal {
    visibility: hidden;
    background-color: #00000080;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    opacity: 0;
    transition:
        visibility 0s linear 0.5s,
        opacity 0.5s linear;
}

.modal__image {
    max-width: 80vw;
    max-height: 80vh;
    object-fit: contain;
}

.modal_is-opened {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.modal__container {
    max-width: 703px;
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    padding: 32px 50px;
    position: relative;
    box-sizing: border-box;
}

.modal__close-btn {
    position: absolute;
    top: 32px;
    right: 50px;
    width: 40px;
    height: 40px;
    max-width: 156px;
    opacity: 0.4;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.modal__close-btn:hover {
    opacity: 0.9;
}

.modal__title {
    margin: 0 0 32px;
    font-size: 32px;
    line-height: 1;
    font-weight: 500;
    color: #212121;
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__label {
    margin: 0 0 32px;
    color: rgba(33, 33, 33, 0.7);
}

.modal__input {
    display: block;
    margin: 8px 0 0;
    width: 100%;
    box-sizing: border-box;
    padding: 16px 12px;
    border-radius: 8px;
    border: 1px solid rgba(33, 33, 33, 0.4);
    font-size: 20px;
    color: #212121;
}

.modal__input::placeholder {
    color: #212121;
}

.submit-btn {
    max-width: 156px;
    width: 156px;
    height: 52px;
    border-radius: 8px;
    padding-top: 18px;
    padding-right: 32px;
    padding-bottom: 18px;
    padding-left: 32px;
    gap: 8px;
    opacity: 1;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.submit-btn:hover {
    opacity: 0.8;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 627px) {
    .modal {
        padding: 22px 12px 12px;
    }

    .modal__close-btn {
        min-width: 44px;
    }

    .submit-btn {
        align-self: stretch;
    }
}
