.profile {
    display: flex;
    padding: 34px 0 20px;
    border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
    height: 190px;
    width: 190px;
    margin-right: 20px;
    border-radius: 8px;
}

.profile__column {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 420px;
}

.profile__name {
    margin: 0 0 12px;
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #212121;
    max-width: 420px;
}

.profile__description {
    margin: 0;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    color: #212121b2;
    max-width: 420px;
    margin-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.profile__edit-btn:hover {
}

.profile__edit-btn {
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    color: #212121;
    padding: 0;
    background-color: transparent;
    border: none;
    margin-top: auto;
    display: flex;
    gap: 8px;
    opacity: 0.7;
    cursor: pointer;
}

.profile__add-btn:hover {
    opacity: 0.8;
}

.profile__add-btn {
    margin-left: auto;
    padding: 0;
    width: 157px;
    height: 52px;
    background-color: #212121;
    color: #fcf5e5;
    border-radius: 8px;
    align-self: end;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

@media screen and (max-width: 627px) {
    .profile {
        flex-direction: column;
        max-width: 288px;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }

    .profile__avatar {
        margin: 0 0 12px;
        height: 80px;
        width: 80px;
        margin-bottom: 12px;
    }

    .profile__name {
        font-size: 20px;
        margin: 0 0 12px;
    }

    .profile__description {
        margin: 0 0 32px;
    }

    .profile__column {
        margin: 0 0 20px;
    }

    .profile__name {
        font-size: 20px;
    }

    .profile__add-btn {
        margin: 0;
        width: 100%;
    }
}
